<h1>Your Order</h1>


<h2>Products:</h2>

<% @order.carted_products.each do |carted_product| %>
  <h4><%= carted_product.product.name %></h4>
  <p>Quantity: <%= carted_product.quantity %></p>
<% end %>

<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>

<h2>Tax: <%= number_to_currency(@order.tax) %></h2>

<h2>Total: <%= number_to_currency(@order.total) %></h2>