<h1><%= @product.name %></h1>
<img src="<%= @product.image %>" class="product_show_image">

<h3>Price: 
<%= number_to_currency(@product.price) %></h3>

<h3>Description: </h3>
<%= @product.description %>

<br />
<br />
<div>
  <%= form_tag "/orders", method: :post do %>
    Quantity: <input type="text" name="product_quantity">
    <br />
    <input type="hidden" name="product_id" value="<%= @product.id %>">
    <br />
    <input type="submit" value="Buy Now!" class="btn btn-success">
  <% end %>
</div>
<br />

<h4>Stock: 
<%= @product.stock %> items in stock</h4>

<h4>Supplier: 
<%= @product.supplier.name %></h4>

<br />
<%= link_to "Edit Product", "/products/#{@product.id}/edit" %>
<br />
<%= link_to "Delete Product", "/products/#{@product.id}", method: :delete %>
